<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>上车准备与起步</string>
		<key>image</key>
		<string></string>
		<key>moviewurl</key>
		<string></string>
		<key>ram</key>
		<string></string>
		<key>urlName</key>
		<string>Two0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>通过路口</string>
		<key>image</key>
		<string></string>
		<key>moviewurl</key>
		<string></string>
		<key>ram</key>
		<string></string>
		<key>urlName</key>
		<string>Two1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>靠边停车</string>
		<key>image</key>
		<string></string>
		<key>moviewurl</key>
		<string></string>
		<key>ram</key>
		<string></string>
		<key>urlName</key>
		<string>Two2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>超车+会车+跟车</string>
		<key>image</key>
		<string></string>
		<key>moviewurl</key>
		<string></string>
		<key>ram</key>
		<string></string>
		<key>urlName</key>
		<string>Two3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>夜间行驶</string>
		<key>image</key>
		<string></string>
		<key>moviewurl</key>
		<string></string>
		<key>ram</key>
		<string></string>
		<key>urlName</key>
		<string>Two4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>车辆掉头</string>
		<key>image</key>
		<string></string>
		<key>moviewurl</key>
		<string></string>
		<key>ram</key>
		<string></string>
		<key>urlName</key>
		<string>Two5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>车辆加减档</string>
		<key>image</key>
		<string></string>
		<key>moviewurl</key>
		<string></string>
		<key>ram</key>
		<string></string>
		<key>urlName</key>
		<string>Two6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>变更车道</string>
		<key>image</key>
		<string></string>
		<key>moviewurl</key>
		<string></string>
		<key>ram</key>
		<string></string>
		<key>urlName</key>
		<string>Two7</string>
	</dict>
</array>
</plist>
