<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image</key>
			<string>driving_car_1</string>
			<key>type</key>
			<string>小车</string>
			<key>drivetype</key>
			<string>C1/C2/C3</string>
			<key>topicnum</key>
			<string>100</string>
			<key>time</key>
			<string>45</string>
			<key>totlescore</key>
			<string>100</string>
			<key>passscore</key>
			<string>90</string>
		</dict>
		<dict>
			<key>image</key>
			<string>driving_car_3</string>
			<key>type</key>
			<string>客车</string>
			<key>drivetype</key>
			<string>A1/A3/B1</string>
			<key>topicnum</key>
			<string>100</string>
			<key>time</key>
			<string>45</string>
			<key>totlescore</key>
			<string>100</string>
			<key>passscore</key>
			<string>90</string>
		</dict>
		<dict>
			<key>image</key>
			<string>driving_car_2</string>
			<key>type</key>
			<string>货车</string>
			<key>drivetype</key>
			<string>A2/B2</string>
			<key>topicnum</key>
			<string>100</string>
			<key>time</key>
			<string>45</string>
			<key>totlescore</key>
			<string>100</string>
			<key>passscore</key>
			<string>90</string>
		</dict>
		<dict>
			<key>image</key>
			<string>driving_car_4</string>
			<key>type</key>
			<string>摩托车</string>
			<key>drivetype</key>
			<string>B/E/F</string>
			<key>topicnum</key>
			<string>50</string>
			<key>time</key>
			<string>30</string>
			<key>totlescore</key>
			<string>100</string>
			<key>passscore</key>
			<string>90</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>driving_car_6</string>
			<key>type</key>
			<string>货运</string>
			<key>drivetype</key>
			<string></string>
			<key>topicnum</key>
			<string>90</string>
			<key>time</key>
			<string>60</string>
			<key>totlescore</key>
			<string>100</string>
			<key>passscore</key>
			<string>80</string>
		</dict>
		<dict>
			<key>image</key>
			<string>driving_car_7</string>
			<key>type</key>
			<string>客运</string>
			<key>drivetype</key>
			<string></string>
			<key>topicnum</key>
			<string>90</string>
			<key>time</key>
			<string>60</string>
			<key>totlescore</key>
			<string>100</string>
			<key>passscore</key>
			<string>80</string>
		</dict>
		<dict>
			<key>image</key>
			<string>driving_car_9</string>
			<key>type</key>
			<string>危险品</string>
			<key>drivetype</key>
			<string></string>
			<key>topicnum</key>
			<string>100</string>
			<key>time</key>
			<string>90</string>
			<key>totlescore</key>
			<string>100</string>
			<key>passscore</key>
			<string>90</string>
		</dict>
		<dict>
			<key>image</key>
			<string>driving_car_5</string>
			<key>type</key>
			<string>教练</string>
			<key>drivetype</key>
			<string></string>
			<key>topicnum</key>
			<string>100</string>
			<key>time</key>
			<string>60</string>
			<key>totlescore</key>
			<string>100</string>
			<key>passscore</key>
			<string>80</string>
		</dict>
	</array>
</array>
</plist>
